{% extends "base.html" %}
{% block titulo %}
Editar mi producto
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <h2>Editar un producto</h2>
    <form method="post" action="{% url 'editar' producto.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
            <input value="{{producto.nombre_producto}}" name="nombre" type="text" class="form-control"
                id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Maximo 30 caracteres
            </div>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input name="precio" value="{{producto.precio_producto}}" type="number" step="0.5" class="form-control"
                id="precio">
        </div>
        <div class="mb-3">
            <input name="stock" value="{{producto.stock_producto}}" type="number" class="form-control" id="stock">
        </div>
        <a class="btn btn-danger" href="{% url 'listado' %}">Cancelar</a>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>

{% endblock contenido %}