{% extends "base.html" %}

{% block titulo %}
    Listado de mis productos
{% endblock titulo %}

{% block contenido %}
<div class="container text-center">
    <h1>Lista de Productos</h1>
    {% comment %}
    Usaremos codigo python en HTML, para poder TRABAJAR con los datos recibidos
    Tenemos 2 tipos de codigo: renderizado y de ejecucion
    *Ejecucion* : {% *tipo de bloque de ejecucion* %} => if, else, for, while
    los bloques de ejecucion LLEVAN UN CIERRE
    Renderizado: {{}} => renderizamos para que se VISUALICE en el html
    {% endcomment %}

    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Creado</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{producto.nombre_producto}}</td>
                <td>{{producto.precio_producto}}</td>
                <td>{{producto.stock_producto}}</td>
                <td>{{producto.categoria_fk}}</td>
                <td>{{producto.fecha_creacion}}</td>
                <td>
                    <a style="text-decoration: none;"  href="{% url 'editar' producto.id %}">
                        <button class="btn btn-warning">Editar</button>
                    </a>
                    <a style="text-decoration: none;"  href="{% url 'eliminar' producto.id %}">
                        <button class="btn btn-danger">Eliminar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cargarproducto">
        Cargar Producto
    </button>

    <!-- Modal -->

</div>
<div class="modal fade" id="cargarproducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cargar Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'crear' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
                        <input name="nombre" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Maximo 30 caracteres
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input name="precio" type="number" step="0.5" class="form-control" id="precio">
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input name="stock" type="number" class="form-control" id="stock">
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoria</label>
                        <select name="categoria" class="form-select" aria-label="Default select example">
                            {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-success" data-bs-target="#categoriaModal" data-bs-toggle="modal">Crear categoria</button>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="categoriaModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Crear Categoria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="{% url 'crear_categoria' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre_categoria" class="form-label">Nombre Categoria</label>
                <input name="nombre_categoria" type="text" class="form-control" id="nombre">
            </div>
        </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock contenido %}